@model Assignment2.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Fans";
}

<h1>List of Fans</h1>

<p>
    <a asp-action="Create">Add a New Fan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fans.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fans.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fans.First().BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Select" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="EditSubscriptions" asp-route-id="@item.Id">Edit Subscriptions</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (ViewData["SelectedClubs"] != null)
{
    var selectedClubs = ViewData["SelectedClubs"] as List<Assignment2.Models.SportClub>;
    if (selectedClubs?.Count > 0)
    {
        <h2>Subscribed Sport Clubs</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => selectedClubs.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => selectedClubs.First().Fee)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var club in selectedClubs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => club.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => club.Fee)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No sport clubs subscribed by this fan.</h2>
    }
}
