@model IEnumerable<Assignment2.Models.News>

@{
    ViewData["Title"] = "News";
}

<h1>News List</h1>
<hr />
<table class="table" >
    <tbody>
        <tr>
            <td style="text-align: center; border-style: none">
                <p>
                    <a asp-action="Create" asp-route-sportClubId="@ViewData["SportClubId"]">Upload News</a>
                </p>
            </td>
            <td style="text-align: center; border-style: none">
                <p>
                    <a asp-controller="SportClubs" asp-action="Index">Back to Sport Clubs</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    <img src="@item.Url" alt="@item.FileName" class="news-image" style="height: 150px" />
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
